<div id='container'>
  <nav class="navigation">
    <ul>
        <li>
            <a class="selected" href="#/links">Links</a>
        </li>
        <li>
            <a href="#/shorten">Shorten</a>
        </li>
        <li>
          <a href="#/signin">LogOut</a>
      </li>
    </ul>
  </nav>
  <!-- <input type="text" ng-model="linkUrl" placeholder="enter here link to shorten starting from http://www"> -->
  <div class="links">
    <div class="link" ng-repeat="link in data.links">
      <img src="assets/redirect_icon.png">
      <div class="info">
        <div class="visits">
          <span class="count">{{link.visits}}</span>
          Visits
        </div>
        <div class="title">{{link.title}}</div>
        <div class="url">{{link.url}}</div>
        <a href=""></a>
        <a href="{{ link.baseUrl }}/{{ link.code }}">{{ link.baseUrl }}/{{ link.code }}</a>
    </div>
    </div>
  </div>
</div>
